*{

}

body{
 
  overflow-X: hidden;
}


.contenedor1{
    width:100%;
    height:100%;
    margin:auto;
    padding:25px;
    padding-top: 80px;
    background-color: #6F97FF;
    
}

.ingresar_boton {
    background-color: rgb(255, 132, 0);
    color: white;
    cursor:pointer;
    padding: 12px 10px;
    border: none;
    float:right;
    margin-top: -80px;
    border-radius: 5px;
    margin-right: 20px;
    
    
  }
.ingresar_boton:hover{
    background-position: right;
    color:#6F97FF;
    font-weight:240;
    background-color: white;
}

.container_tabla{
    width: 90%;
    background: white;
    margin:50px auto;
    box-shadow: 0 0 10px #333;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-flow: 50px;
    font-size: 1em;
    font-family: system-ui;
}

.titulo_tabla{
    grid-column-start: 1;
    grid-column-end: 5;
    background: #6F97FF;
    color:white;
    display: flex;
    justify-content: center;
    padding:15px;
    font-weight: bold;
}

.header_tabla, .item_tabla{
display: flex;
justify-content: center;
align-items: center;
}

.item_tabla{
    padding:10px;
}





